!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{class: "#{page_classes} #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav"}}
    .page-wrap
      = partial "includes/google/gtm"
      = partial "includes/layout/header"
      = partial "includes/layout/headline"
      = partial 'includes/devops-tools/carousel/modal.html.haml'

      = yield_content(:header)

      = yield_content(:comparison_table)

      = yield_content(:strips)

      = yield_content(:feature_comparison)

      .footer-container.fixed.margin-bottom50
        = partial "includes/features/gitlab-ee-trial"

      .footer-container
        = partial "includes/layout/footer"
