@import "variables";

/* For an example of the detail & summary tags in use, please see /handbook/marketing/growth-marketing/brand-and-digital-design/ */

summary h1,
summary h2,
summary h3,
summary h4,
summary h5,
summary h6 {
  margin: 0;
  vertical-align: middle;
}

details {
  border: 1px solid #eeeeee;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}

summary {
  color: $color-primary-alt;
  cursor: pointer;
  display: flex;
  align-items: baseline;
}

details[open] > summary {
  margin-bottom: 24px;
}

// override blank-header to not take up so much vertical space
.blank-header {
  padding: 40px 20px;
}

// underline links by default in the content container and TOC only
.container.md-page {
  a:not(.btn) {
    text-decoration: underline;
  }

  .breadcrumb {
    a {
      text-decoration: none;
    }
  }
}

.domain-expertise {
  font-size: 0.8em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 2;

  .domain {
    color: $color-orange;
    margin-right: 1em;
  }
}

.mkt-row {
  padding-top: 20px;
  padding-bottom: 5px;

  a:focus {
    outline: none;
  }
}

.mkt-box {
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;

  img {
    display: block;
    max-width: 30%;
    margin: 20px auto;
  }

  h4 {
    color: $color-accent;
    text-align: center;
  }

  &:hover {
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.1) inset;
  }
}

.alert-purple {
  color: rgb(107, 79, 187);
  background-color: $color-white;
  border-color: rgba(107, 79, 187, 0.5);

  h3 {
    color: $color-primary;
  }

  &.center {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.wide-sheet {
  width: 1200px;
  position: relative;

}

.image-box img {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  margin: 40px auto;
}

kbd.required {
  margin: 0px 0.1em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  border: 1px solid;
  border-color: #fc6d26;
  color: rgb(51, 51, 51);
  line-height: 1.4;
  display: inline-block;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
  background-color: rgb(247, 247, 247);
  text-shadow: 0 1px 0 #fff;
}

// Convenience utility classes
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.mt-2 {
  margin-top: 2px;
}

.ml-4 {
  margin-left: 4px;
}
